In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 299

In [37]:
df_def = pd.read_excel("Ops dashboard - Assessment.xlsx", sheet_name="Definitions & formulas")

In [41]:
# df_def

In [35]:
df_def.iloc[[17, 18, 19, 20, 21, 24],:]

,Order Number,Unnamed: 1
17,Delivery success rate,% of (Orders status = delivered ) of Count of (Order number) with a specific / range of (Pickup date time)
18,Pickup success rate,% of (Orders status = picked ) of Count of (Order number) with a specific / range of (Shipment Created dateTime)
19,Pending returns,% of of orders that are supposed to be returned back to client but not returned yet( (Order status = Cancelled ) & orders with 3 delivery attempts) with a specific / range of (Pickup date time)
20,Pick up lead time,Average No. of hours / days between ( Shipment created date time ) & (Pickup date time)
21,Delivery lead time,Average No. of hours / days between (Pickup date time) & ( Delivery date time )
24,Target column,"This will be a variable number dependant on the client and the DC, Ops and AM needs access to be able to set those numbers so we can measure the variance"

In [40]:
# df_dsgn = pd.read_excel("Ops dashboard - Assessment.xlsx", sheet_name="Dashboard design")

In [65]:
df = pd.read_excel("Ops dashboard - Assessment.xlsx", sheet_name="Raw data")

In [8]:
df.head()

,Order Number,Shipment Number,Unnamed: 2,Shipment Created dateTime,Pickup dateTime,Delivery dateTime,Pickup city,Destination City,Weight,Delivery Company,Service Type,Client Name,Account Manager,DCType,SLA Target,Order Status
0,2.010566e+09,1630348.0,2023-01-22 00:12:35,2023-01-22 08:34:27,2023-01-22 10:06:54,2023-01-22 10:17:04,Riyadh,Riyadh,NaN,CX1,S1,Client 1,AM1,NaN,NaN,Delivered
1,2.010566e+09,1630348.0,2023-01-22 00:12:35,2023-01-22 08:34:27,2023-01-22 10:06:54,2023-01-22 10:17:04,Riyadh,Riyadh,NaN,CX1,S1,Client 2,AM2,NaN,NaN,Delivered
2,2.010566e+09,1630348.0,2023-01-22 00:12:35,2023-01-22 08:34:27,2023-01-22 10:06:54,2023-01-22 10:17:04,Riyadh,Riyadh,NaN,CX1,S1,Client 3,AM1,NaN,NaN,Delivered
3,2.010566e+09,1631783.0,2023-01-22 00:21:39,2023-01-22 11:40:55,2023-01-22 17:17:42,NaT,Jeddah,Makkah,NaN,CX1,S2,Client 4,AM2,NaN,NaN,Confirmed Return
4,2.010566e+09,1631783.0,2023-01-22 00:21:39,2023-01-22 11:40:55,2023-01-22 17:17:42,NaT,Jeddah,Makkah,NaN,CX1,S1,Client 1,AM3,NaN,NaN,Confirmed Return

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420 entries, 0 to 1419
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Order Number               1420 non-null   float64
 1   Shipment Number            1338 non-null   object
 2   Unnamed: 2                 1420 non-null   datetime64[ns]
 3   Shipment Created dateTime  1354 non-null   datetime64[ns]
 4   Pickup dateTime            1252 non-null   datetime64[ns]
 5   Delivery dateTime          1107 non-null   datetime64[ns]
 6   Pickup city                1420 non-null   object
 7   Destination City           1420 non-null   object
 8   Weight                     0 non-null      float64
 9   Delivery Company           1336 non-null   object
 10  Service Type               1420 non-null   object
 11  Client Name                1420 non-null   object
 12  Account Manager            1420 non-null   object
 13  DCType                     0 non-null      float64
 14  SLA Target                 0 non-null      float64
 15  Order Status               1420 non-null   object
dtypes: datetime64[ns](4), float64(4), object(8)
memory usage: 177.6+ KB

- ["Weight", "DCType", "SLA Target"] are useless cause they are completely nulls

In [11]:
df.describe()

       Order Number  Weight  DCType  SLA Target
count  1.420000e+03     0.0     0.0          0.0
mean   1.651120e+10     NaN     NaN          NaN
std    5.029496e+10     NaN     NaN          NaN
min    1.110042e+09     NaN     NaN          NaN
25%    2.010566e+09     NaN     NaN          NaN
50%    2.010567e+09     NaN     NaN          NaN
75%    2.010567e+09     NaN     NaN          NaN
max    2.323000e+11     NaN     NaN          NaN

In [12]:
df.isna().mean()

Order Number                 0.000000
Shipment Number              0.057746
Unnamed: 2                   0.000000
Shipment Created dateTime    0.046479
Pickup dateTime              0.118310
Delivery dateTime            0.220423
Pickup city                  0.000000
Destination City             0.000000
Weight                       1.000000
Delivery Company             0.059155
Service Type                 0.000000
Client Name                  0.000000
Account Manager              0.000000
DCType                       1.000000
SLA Target                   1.000000
Order Status                 0.000000
dtype: float64

In [13]:
df.shape

(1420, 16)

In [14]:
df.dtypes

Order Number                        float64
Shipment Number                      object
Unnamed: 2                   datetime64[ns]
Shipment Created dateTime    datetime64[ns]
Pickup dateTime              datetime64[ns]
Delivery dateTime            datetime64[ns]
Pickup city                          object
Destination City                     object
Weight                              float64
Delivery Company                     object
Service Type                         object
Client Name                          object
Account Manager                      object
DCType                              float64
SLA Target                          float64
Order Status                         object
dtype: object

In [17]:
df.index

RangeIndex(start=0, stop=1420, step=1)

In [45]:
df["Order Status"].unique()

array(['Delivered', 'Confirmed Return', 'Canceled',
       'Arrived destination terminal', 'Arrived origin terminal',
       'Assigned to Warehouse', 'Undelivered Attempt', 'Shipment On Hold',
       'Returned', 'Shipment On Hold by Warehouse', 'Out for Delivery',
       'Branch assigned', 'In Transit', 'Shipment created', 'Picked up'],
      dtype=object)

In [46]:
df["Pickup dateTime"]

0      2023-01-22 10:06:54
1      2023-01-22 10:06:54
2      2023-01-22 10:06:54
3      2023-01-22 17:17:42
4      2023-01-22 17:17:42
               ...
1415                   NaT
1416                   NaT
1417                   NaT
1418                   NaT
1419                   NaT
Name: Pickup dateTime, Length: 1420, dtype: datetime64[ns]

In [47]:
df["Shipment Created dateTime"]

0      2023-01-22 08:34:27
1      2023-01-22 08:34:27
2      2023-01-22 08:34:27
3      2023-01-22 11:40:55
4      2023-01-22 11:40:55
               ...
1415                   NaT
1416                   NaT
1417                   NaT
1418                   NaT
1419                   NaT
Name: Shipment Created dateTime, Length: 1420, dtype: datetime64[ns]

In [48]:
df["Delivery dateTime"]

0      2023-01-22 10:17:04
1      2023-01-22 10:17:04
2      2023-01-22 10:17:04
3                      NaT
4                      NaT
               ...
1415                   NaT
1416                   NaT
1417                   NaT
1418                   NaT
1419                   NaT
Name: Delivery dateTime, Length: 1420, dtype: datetime64[ns]

In [50]:
df["Shipment Created dateTime"].timestamp()#-df["Delivery dateTime"]

AttributeError: 'Series' object has no attribute 'timestamp'

In [53]:
df["Delivery dateTime"].dtypes

dtype('<M8[ns]')

In [64]:
pd.Timestamp(df["Delivery dateTime"])

TypeError: Cannot convert input [0      2023-01-22 10:17:04
1      2023-01-22 10:17:04
2      2023-01-22 10:17:04
3                      NaT
4                      NaT
               ...
1415                   NaT
1416                   NaT
1417                   NaT
1418                   NaT
1419                   NaT
Name: Delivery dateTime, Length: 1420, dtype: datetime64[ns]] of type <class 'pandas.core.series.Series'> to Timestamp

In [87]:
pd.to_datetime((df["Delivery dateTime"]))

0      2023-01-22 10:17:04
1      2023-01-22 10:17:04
2      2023-01-22 10:17:04
3                      NaT
4                      NaT
               ...
1415                   NaT
1416                   NaT
1417                   NaT
1418                   NaT
1419                   NaT
Name: Delivery dateTime, Length: 1420, dtype: datetime64[ns]